* {font-size: 14px; padding: 0; margin: 0; line-height: 1.5em;}

body{}

.classe1{width: 600px; height: 300px; background: red;}
.classe2{border: solid black;}

.minhaclasse{width:500px; height: 200px; background: rgba(78, 50, 56, 0.473);}
.segundaclasse{border: solid red; }

#primeiroID{width: 200px;height: 200px; background:black}

#primeiroID .classeid{color: yellow;}

.texto1{color: blue; font-size: 18px; text-align: justify; text-indent: 30px; text-transform: uppercase;}