* {font-size: 14px; margin: 10px; padding: 10px; line-height: 1.5em;}
body{}
table{ width: 50%; border-collapse: collapse;}
table th  {padding: 0px; margin: 0px; border: 1px solid red;}
td {margin: 10px; padding: 10px; line-height: 0px;border: 1px solid black;}